* {
    box-sizing: border-box;
}
/* adding style to index.html, body, and wrapper*/
html,
body,
.htmlboxwrap {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(7, 7, 44);
}

  /* adding style wrapper*/
  .htmlboxwrap {
   padding: 20px;
  }
/* adding style the h1 inside of a div*/
  div h1 {
    font-size: 80px;
  }
/* adding style the id index*/
  #index {
    font-size: 50px;
  }
/* adding style the h2 inside of the wrapper */
  .htmlboxwrap h2 {
    color: white;

  }
  /* adding style id startgame */
  #startgame {
    text-align: center;
    padding: 20px;
    padding-top: 120px;
    color: hsl(0, 0%, 100%);
  }

/* adding style id start */
  #start {
    text-align: center;
    color: white;
    font-size: 40px;
}
/* adding style class btn (start game button) */
.btn {
    border: none;
    background-color: rgb(255, 0, 0);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
}
/* adding style hover to startgame button class btn */
.btn:hover{
    font-size: 40px;
}
/* adding style to .hide class */
.hide {
  display: none;
}
/* adding style to the class timer */
.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* adding style to the button insides of the calss answers */
.answers button {
  display: block;
  color:rgb(240, 235, 235);
  font-size: 25px;
  margin: 20px;
  
}
/* adding style the the input */
input {
  font-size: 100%;
}
/* adding style to the class score1 */
.score1 {
  color: white;
}
/* adding style to the class name */
.name {
  color: white;
}
/* adding style to the class timer */
.timer {
  color: white;
}

